* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
:root {
    --header-bg: #10375c;
}
/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.btn {
    width: 205px;
    height: 60px;
    background: #2e80ce;
    border-radius: 30px;
}
.top__title {
    font-weight: 600;
    font-size: 5rem;
    /* text-align: center; */
    letter-spacing: -0.02em;
    line-height: 1.2;
    color: #10375c;
}
.top__desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #575f66;
}
/* header */
.header {
    min-height: 100vh;
    background: var(--header-bg);
    padding-top: 30px;
}
/* header-top */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.logo {
    position: relative;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
}
.logo__icon::before,
.logo__icon::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}
.logo__icon::before {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
}
.logo__icon::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}
.logo__text {
    margin-left: 0.6em;
    color: #ffffff;
    text-align: right;
    line-height: 1.7em;
}
.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
    align-self: flex-end;
}
.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
}
/* navigation */
.nav__list {
    display: flex;
}

.nav__item:last-child {
    margin-right: 0;
}
.nav__item:first-child .nav__item--c::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    left: 8px;
}
.nav__item--c {
    display: flex;
    align-items: center;
    padding: 4px 21px;
    position: relative;
    font-weight: 300;
    font-size: 1.6rem;
    color: #c9d2da;
    transition: 0.4s ease-in-out;
}
.nav__item--c:hover {
    text-decoration: underline;
    color: #fff;
    text-shadow: 1px 0 0 #fff;
}
.nav__item--c:hover:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    left: 8px;
}
/* action */
.action {
    display: flex;
    align-items: center;
}
.action__log-in {
    font-weight: 300;
    font-size: 1.6rem;
    color: #c9d2da;
    padding: 14px;
    margin-right: 14px;
    transition: 0.4s ease-in-out;
}
.action__log-in:hover {
    text-decoration: underline;
    text-shadow: 1px 0 0 #fff;
}
.action__sign-up {
    text-align: center;
    font-weight: 400;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    padding: 8px 20px;
    background: #2e80ce;
    border-radius: 22px;
    color: #ffffff;
}
.action__sign-up:hover {
    text-shadow: 1px 0 0 #fff;
    background-color: #0093e9;
    background-image: -webkit-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: -moz-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: -o-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
/* header-top__fix */
/* .header .header-top__fix {
    position: sticky;
    top: 28px;
    z-index: 1;
} */
/* ========hero===== */
.hero {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 45px;
    align-items: center;
    /* flex-shrink: 0; */
    /* margin-top: 31px; */
}
.hero__text {
    /* margin-top: 60px; */
    max-width: 44%;
    margin-right: 113px;
}
.hero__title {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;

    letter-spacing: -0.02em;

    color: #ffffff;
}
.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}
.hero__contact {
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.hero__btn {
    cursor: pointer;
    border: 1px solid var(--header-bg);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: center;

    margin-right: 38px;
    transition-property: 0.4s ease-in;
}
.hero__btn:hover {
    text-shadow: 1px 0 0 #fff;
    background-color: #0093e9;
    background-image: -webkit-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: -moz-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: -o-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.hero__btn > a {
    color: #ffffff;
    transition: 0.4s ease-in-out;
}
.hero__btn > a:hover {
    text-shadow: 1px 0 0 #ffffff;
}
.hero__hotline {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: center;

    color: #ffffff;
}

.hero__images {
    display: flex;
    /* align-items: center; */
}
.hero__img {
    /* position: relative; */
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
}
.hero__img--smail {
    /* position: absolute; */
    margin-left: -8px;
    margin-top: 65px;
    width: 210px;
    height: 410px;
    z-index: 0;
}
/* our services */
.services {
    /* background: #e5e5e5; */
    padding-top: 170px;
    padding-bottom: 170px;
}
.services-top {
    max-width: 40%;
    /* text-align: center; */
    /* display: flex; */
    margin: 0 auto;
}
.services-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.services-bottom__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
.services-list {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.services-item {
    display: flex;
    max-width: 470px;
    background: #ffffff;
    border-radius: 10px;
    padding: 22px;
}
.services-item:hover {
    /* rời bỏ bố cục luồng  */
    position: relative;
    background: #ffffff;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.services-item:hover .services-item__icon {
    background: #2e80ce;
    color: #fff;
}
.services-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    color: #10375c;
    line-height: 1.27;
    /* margin-top: 41px; */
}
.services-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}
.services__title,
services__desc {
    text-align: center;
}
.services-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    color: #10375c;
    background-color: #eff6fd;
    border-radius: 50%;
    margin-right: 20px;
}
.services__btn {
    margin-top: 55px;
    border: 1px solid #fff;
    transition: 0.4s ease-in-out;
}
.services__btn a {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;

    text-align: center;

    color: #ffffff;
    transition: 0.4s ease-in-out;
}
.services__btn:hover {
    background-color: #0093e9;
    background-image: -webkit-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: -moz-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: -o-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.services__btn:hover a {
    text-shadow: 1px 0 0 #fff;
}
/* how it works */
.work {
    background: #f3f9fe;
    /* background-color: red; */
    padding: 100px 0px;
}
.work-text__desc {
    margin-top: 18px;
    width: 468px;
    text-align: left;
}
.work-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.work-item {
    /* position: relative; */
    /* display: flex;
    flex-direction: column;
    flex-shrink: 0; */

    width: 370px;
    height: 402px;

    background-color: #fff;
    border-radius: 8px;
    margin-right: 30px;
    border: 16px solid #eaf6ff;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}
.work-item:hover {
    /* position: relative; */
    /* position: absolute; */
    /* top: -16px; */

    /* thuộc tính transform để làm khi 
    hover vào khung hình sẽ đc đẩy lên 16px  */
    transform: translateY(-16px);
    bottom: 32px;
    border: 16px solid #2e80ce;

    border-radius: 8px;
}
.work-item:hover .work-item__link {
    text-shadow: 1px 0 0 #2e80ce;
}
.work-item__img {
    display: block;
    margin: 46px 0 30px 45px;
}
.work-item__heading {
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
    text-align: left;
    margin-left: 42px;
}
.work-item__desc {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
    margin: 28px 42px 9px;
    max-width: 254px;
}
.work-item__link {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2e80ce;
    padding: 9px;
    margin-left: 33px;
    transition: 0.4s ease-in-out;
}
/* feature */
.feature {
    /* background-color: red; */
    padding: 170px 0 145px 0;
}
.feature-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-media {
    max-width: 49%;
    /* margin-bottom: 121px; */
}
.feature-image {
    position: relative;
}
.feature {
    object-fit: cover;
}
.feature-img:first-child {
    width: 512px;
    height: 370px;
    filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.07));
    border-radius: 8px;
}
.feature-img:last-child {
    position: absolute;
    top: 121px;
    right: -58px;
    width: 332px;
    height: 370px;
    border-radius: 8px;
    object-fit: cover;
    /* z-index: 1; */
}
.feature-text {
    max-width: 40%;
}
.feature-text__desc {
    margin-top: 18px;
    text-align: left;
}
.feature-btn {
    margin-top: 38px;
    /* margin-bottom: -127px; */
    border: none;
    transition: 0.4s ease-in-out;
}
.feature-btn:hover {
    background-color: #0093e9;
    background-image: -webkit-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: -moz-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: -o-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.feature-btn a {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;

    color: #ffffff;
    transition: 0.4s ease-in-out;
}
.feature-btn:hover a {
    text-shadow: 1px 0 0 #ffffff;
}
/* dentist */
.dentist {
    margin-top: 145px;
    padding: 85px;
    /* background-color: red; */
    margin-bottom: 85px;
}
.dentist-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dentist-btn {
    border: none;
    text-align: center;
    margin-top: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
}
.dentist-btn:hover {
    background-color: #0093e9;
    background-image: -webkit-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: -moz-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: -o-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
.dentist-btn a {
    color: #ffffff;
}
.dentist-media {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.dentist-list {
    margin-top: 70px;
}
.dentist-img-bg {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
}
.dentist-img__thumb {
    /* sử dụng display:block để  chân khung hình
    ngang bằng vs chân hình ảnh
     */
    display: block;
    /* sử dụng width để các hình ảnh có khích thước ngang bằng nhau */
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 6px;
    transition: 0.4s ease-in-out;
}
.dentist-img__thumb:hover {
    transform: scale(1.1);
}
.dentist__name {
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;

    color: #10375c;
}
.dentist__desc {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;

    text-align: center;

    color: #575f66;
}
/* chevrol */
.chevrol {
    display: flex;
    justify-content: center;

    margin-top: 38px;
    cursor: pointer;
    color: #2e80ce;
}
.chevrol-img {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    /* flex-direction: row; */
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #2e80ce;
    transition: 0.4s ease-in-out;
}
.chevrol-img:first-child {
    margin-right: 18px;
}
.chevrol-img:last-child {
    margin-right: 0;
}
.chevrol-img:hover {
    background: #2e80ce;
    color: #fff;
}
/* install */
.install {
    margin-top: 188px;
    margin-bottom: 85px;
    /* background-color: red; */
}
.install-ener {
    background: #2e80ce;
    border-radius: 4px;

    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.install-img {
    /* position: absolute; */
    margin-top: -95px;
    /* width: 100%; */
}
.install-ener__content {
    max-width: 51%;
}
.install-ener__heading {
    line-height: 1.2;
    margin-top: 76px;
    color: #fff;
    text-align: left;
    max-width: 489px;
}
.install-ener__desc {
    margin-top: 18px;
    text-align: left;

    color: #ffffff;
}
.install-ener__app {
    margin-top: 38px;
    display: flex;
}
.install-ener__chplay {
    margin-right: 30px;
    display: flex;
    padding: 3px;
    border-radius: 1px solid #fff;
}
.install-ener__chplay:last-child {
    margin-right: 0;
}
.install-ener__name {
    max-width: 145px;
}
.app {
    margin-right: 10px;
}
.install-ener__appp {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 300;
}
.install-ener__appp span {
    font-weight: 600;
    font-size: 2rem;
}
/* news */
.news {
    padding-top: 85px;
    /* background-color: red; */
    margin-bottom: 85px;
}
.news__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new__text {
    max-width: 40%;
}
.news__text-link {
    display: inline-block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    text-decoration: underline;
    text-underline-offset: 6px;

    color: #10375c;
}
.news__text-link:hover {
    text-shadow: 1px 0 0 #10375c;
}
.chevrol-news {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}
.news__intro {
    display: flex;
    justify-content: space-between;
}
.news__info {
    max-width: 259px;
    height: 375px;
    margin-right: 30px;
    /* margin-bottom: 22px; */
    background: #ffffff;
    /* border: 2px solid #e8ebee; */
    border-radius: 12px;
    /* display: block; */
    transition: 0.2s ease-in-out;
    overflow: hidden;
    /* margin-bottom: 22px; */
}
.news__info:hover {
    transform: translateY(-5px);
    background: #ffffff;
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
.news__info:hover .news-img {
    transform: scale(1.1);
}
.news__info:hover a {
    color: #2e80ce;
}
.news-img {
    display: block;
    max-width: 270px;
    height: 172px;
    border-radius: 12px 12px 0px 0px;
    transition: 0.4s ease-in-out;
}

.news__info:last-child {
    margin-right: 0;
}
.news__info-heading {
    margin: 18px 0 0 22px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375c;
    /* text-align: center; */
}
.news__info-desc {
    margin: 10px 22px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #575f66;
}
.news__info > a {
    margin-left: 22px;
    /* margin-bottom: 22px; */
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8rem;
    color: #10375c;
}
/* patients */
.patients {
    padding: 100px 0;
    margin-top: 170px;
    margin-bottom: 85px;
    background: #f7fbff;
    /* background-color: red; */
}
.patients__content {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.patients__title {
    position: relative;
    /* dùng thuộc tính này để cách tiêu đề vs đường kẻ */
    padding-bottom: 18px;
}
.patients__title::after {
    position: absolute;
    display: block;
    content: "";
    width: 136px;
    height: 2px;
    background-color: #2e80ce;
    /* dùng để canh đường kẻ ra giữa */
    left: 0;
    right: 0;
    margin: 0 auto;
    /* ============================ */
    /* dùng bottom = 0 để định vị đường
    kẻ lúc đầu nằm ở đâu "kết hợp
    với padding-bottom ở thẻ cha để có k/cách*/
    bottom: 0;
}
.patients__desc {
    display: block;
    max-width: 617px;
    margin-top: 38px;
}
.patients__btn {
    cursor: pointer;

    border: none;
    margin-top: 38px;
}
.patients__cta {
    display: inline-block;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;

    color: #ffffff;
}
.patients__btn:hover {
    background-color: #0093e9;
    background-image: -webkit-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: -moz-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: -o-linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}
/* footer */
.footer {
    /* background-color: red; */
    background: #10375c;
    margin-top: 85px;
    padding-bottom: 42px;
}
.footer__body {
    padding-top: 100px;
}
.footer-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;

    border-bottom: 1px solid #406181;
    /* text-decoration: underline; */
    /* thuộc tính padding-bottom dùng 
    để tạo khoảng cách giữa border-bottom vs footer-row */
    padding-bottom: 28px;
}
.footer__column-01 {
    max-width: 36%;
}
.footer__desc {
    margin-top: 21px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #a9b3bb;
    width: 336px;
}
.footer__column-02,
.footer__column-03 {
    display: flex;
    flex-direction: column;
    max-width: 18%;
}
.footer__link {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #a9b3bb;
}
.footer__link:hover {
    text-decoration: underline;
}
.footer__link + .footer__link {
    margin-top: 10px;
}
.footer-title + .footer__link {
    margin-top: 20px;
}
.footer__link + .footer-title {
    margin-top: 28px;
}
.footer-title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}
.footer__column-04 {
    max-width: 28%;
}
.social {
    margin-top: 20px;
    margin-bottom: 28px;
}
.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    color: #2e80ce;
}
.social-icon:hover {
    background-color: #2e80ce;
    color: #ffffff;
}
.social-icon:last-child {
    margin-right: 0;
}
.footer__desc--size {
    font-size: 1.4rem;
    max-width: 273px;
}
.input {
    margin-top: 10px;
}
.input input {
    width: 212px;
    height: 46px;
    border: 1px solid #406181;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
}
.footer__btn {
    cursor: pointer;
    width: 108px;
    height: 46px;
    background: #2e80ce;
    border-radius: 4px;
    border: none;
    color: #fff;
}

.copyright {
    text-align: center;
    margin-top: 28px;
    color: #aab3ba;
}
